body, html {
 height: 100%;
}

* {
  box-sizing: border-box;
}

/* Optional min width */
html {
 min-width: 20rem;
}

@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

body {
 font-family: $font-primary;
 font-style: normal;
 font-size: 1.125rem;
 line-height: 1.5;
 color: $darkgray;
 font-weight: 100;
}

hgroup {
  background: $white;
  position: relative;
  z-index: 10000;
  width: 100% !important;
  margin: 0;
  padding: 0 0 1rem 0;
  left: 0px !important;
  border: {
      top    : none; // stroke 
      bottom : 1px solid $lightergray; // stroke
    }
}

img {
 max-width: 100%;
 height: auto;
}

#{headings()} {
 font-family: $font-primary;
 font-weight: normal;
 color: $orange;
}

h1 {
 font-family: $font-secondary;
 font-size: 2.3rem;
 font-weight: bold;
 margin: 2rem 0 1.5rem 0;
}

h2 {
 font-size: 1.5rem;
 font-family: $font-primary;
 letter-spacing: 0.03rem;
 font-weight: 500;
 color: $mediumgray;
 margin: 0 0 1rem 0;
}

a {
 text-decoration: none;
}

p {
 font-family: $font-primary;
 font-size: 1.2rem;
 font-weight: 300;
 color: $mediumgray;
 line-height: 175%;
 letter-spacing: 0.02rem;
 margin-bottom: 20px;
 span {
  font-weight: 500;
  letter-spacing: 0.02rem;
  margin: 30px 0 0 0;
 }
}

.divider {
 border-bottom: 1px solid $lightgray;
 width: 20rem;
 margin:3rem auto 4rem auto;
}

.hidden {
 display: none !important;
}

.menu {
  width: 3em;
  height: 3em;
  position: relative;
  cursor: pointer;
  float: right;
  z-index: 0;
  margin: 0;
}
.menu .bit-1::before {
  content: '';
  left: 0.5em;
  top: 0.5em;
  position: absolute;
  width: 1em;
  transform-origin: left bottom;
  height: 0.3em;
  background: $mediumgray;
  transition: transform 0.3s, top 0.3s;
}
.menu .bit-1::after {
  content: '';
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1em;
  transform-origin: right bottom;
  height: 0.3em;
  background: $mediumgray;
  transition: transform 0.3s, top 0.3s;
}
.menu .bit-2 {
  position: absolute;
  width: 2em;
  top: 50%;
  left: 50%;
  height: 0.3em;
  background: $mediumgray;
  transform: translate(-50%, -50%);
  transition: transform 0.3s 0.3s, width 0.3s 0.6s;
}
.menu .bit-3::before {
  content: '';
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  width: 1em;
  transform-origin: left top;
  height: 0.3em;
  background: $mediumgray;
  transition: transform 0.3s, bottom 0.3s;
}
.menu .bit-3::after {
  content: '';
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  width: 1em;
  transform-origin: right top;
  height: 0.3em;
  background: $mediumgray;
  transition: transform 0.3s, bottom 0.3s;
}
.menu.open .bit-1:before {
  top: 0.4em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: left bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}
.menu.open .bit-1:after {
  top: 0.4em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: right bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}
.menu.open .bit-2 {
  width: 0.3em;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.3s 0.3s, width 0.3s;
}
.menu.open .bit-3:before {
  bottom: 0.4em;
  width: 1.2em;
  transform: rotate(-45deg);
  transform-origin: left top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}
.menu.open .bit-3:after {
  bottom: 0.4em;
  width: 1.2em;
  transform: rotate(45deg);
  transform-origin: right top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
} //hamburger menu

ul.right-nav {
   float: right;
   width: 30%;
   
   li {
    display: inline-block;
    width: 45%;
    margin: 16px 0;
    a {
      &.signup {
      @include border-radius; // border radius
      @include background-clip(padding-box); // prevents bg color from leaking outside the border
      background-color: $green; // layer fill content
      font-family: $font-secondary;
      font-weight: 300;
      color: $white;
      font-size: 1.2rem;
      padding: 7% 10%;
      margin: 1.5rem 0 0 0;
      float: right;
      width: 100%;
      text-align: center;
      border: 1px solid $green;
     } //signup
     &.signin {
      @extend .signup;
      background: transparent;
      color: $green;
      margin: 0 0.9rem 0 0;
     } //signup
    }
   }
  }

.wrap {
 @include clearfix;
 max-width: 75rem;
 width: 100%;
 margin: 0 auto;
} //foundation for responsive site

.nav-wrap {
 @include clearfix;
 display: block;
}


footer {
 background: $darkblue;
 height: 25rem;
 padding: 2rem 0 0 0;
 position: relative;
}